mat-card {
    margin: 10px;
    max-width: 800px;
    width: 75vw;
}

.info-button {
    margin-left: 10px;
}

.mat-title {
    margin-bottom: 0px;
}

.mat-subheading-2 {
    margin-top: 0px;
}

div {
    display: inline-block;
}

mat-icons {
    padding:0;
    margin: 0;
    padding-bottom: 3px;
}