<mat-card>
  <h1 class="mat-title">{{school.name}}</h1>
  <h1 class="mat-subheading-2">{{school.location}}</h1>
  <h1 class="mat-subheading-2">Unifind ID: {{school.id}}</h1>
  <div *ngIf="checkSchools(school.id); else added">
    <button  mat-flat-button color="primary" (click)="addSchool(school)">
        Add School
    </button>
  </div>

  <ng-template #added>
    <button  mat-flat-button color="primary" (click)="removeSchool(school)">
      <mat-icon>
        check_circle
      </mat-icon>
        Remove from List
    </button>
  </ng-template>
  
  <button class="info-button" mat-stroked-button color="primary">More Info</button>
</mat-card>