<mat-toolbar color="basic">
  <button mat-icon-button class="sidebar-button">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="mat-display-1" id="title">Unifind</h2>
  <button mat-button class="large-nav">Home</button>
  <button mat-button class="large-nav" routerLink="/schools">Schools</button>
  <button mat-button class="large-nav">Your List</button>
  <button mat-button class="large-nav">About</button>
  <span class="spacer"></span>
  <button mat-flat-button color="accent">
    <mat-icon class="account-circle">account_circle</mat-icon>
    Account
  </button>
</mat-toolbar>