<div>
  <mat-card>
      <h1 class="mat-title">About Unifind</h1>
      <p class="mat-body-1">
        Unifind is a free tool available to all students, allowing you to organize your college admissions process.
        The data on Unifind is updated directly from universities, meaning the data here is frequently kept up to date.
      </p>

      <mat-divider [inset]="true"></mat-divider>
      <h1 class="mat-title">What can Unifind do?</h1>
      <p class="mat-body-1">
        Unifind is designed to be a central location for all the admissions process data for schools located in the United States.
        You can find information on testing requirements, application deadlines, score submission processes, and more. Additionally,
        you can also contact the admissions representatives of multiple institutions directly through Unifind.
      </p>

      <h1 class="mat-title">What's next?</h1>
      <p class="mat-body-1">
        We hope to grow Unifind and the institutions that support it in order to ensure the relevancy of all of
      </p>
  </mat-card>
</div>
  